<div class="news">
  {% if site.data.news != blank %}
    <div class="news-scroll-container">
      <table class="table table-sm table-borderless">
        {% assign news = site.data.news %}
        {% for item in news %}
          <tr>
            <th scope="row" class="news-date">{{ item.date | date: '%b %Y' }}</th>
            <td class="news-item-content">
              <div class="news-content">
                {{ item.content | markdownify | remove: '<p>' | remove: '</p>' | emojify }}
              </div>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
